<div class="mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <article class="demo-card-wide mdl-card mdl-shadow--2dp">
          <header class="mdl-card__title">
            <h1 class="mdl-card__title-text">Bem vindos/as ao CMail!</h1>
          </header>

          <form autocomplete="off" class="mdl-card__supporting-text" [formGroup]="formLogin" (ngSubmit)="handleLogin()">
            <section *ngIf="mensagemErro" class="mdl-textfield is-invalid">
              <p class="mdl-textfield__error">{{mensagemErro}}</p>
            </section>

            <!-- Campo email -->
            <cmail-form-group [campo]="formLogin.get('email')">
              <input type="email" name="email" formControlName="email" placeholder="E-mail" cmailFromInput>

              <!-- Validação: Campo obrigatorio -->
              <span *ngIf="formLogin.get('email').getError('required')" class="mdl-textfield__error">
                Informe um e-mail.
              </span>

              <!-- Validação: Campo obrigatorio -->
              <span *ngIf="formLogin.get('email').getError('email')" class="mdl-textfield__error">
                Digite um e-mail válido e que seja @cmail ( ͡° ͜ʖ ͡°)
              </span>
            </cmail-form-group>



            <!-- Campo senha -->
            <cmail-form-group [campo]="formLogin.get('password')">
              <input type="password" name="password" formControlName="password" placeholder="Senha" cmailFromInput>

              <!-- Validação: Campo obrigatorio -->
              <span *ngIf="formLogin.get('password').getError('required')" class="mdl-textfield__error">
                Digite sua senha.
              </span>
            </cmail-form-group>

            

            <div class="mdl-card__actions mdl-card--border">
              <a routerLink="/cadastro" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Primeiro login? Cadastre-se!
              </a>
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent entrar">
                Entrar
              </button>
            </div>
          </form>

        </article>
      </div>
    </div>
  </main>
</div>